<div class="modal-header">
  <h4 class="modal-title pull left"> {{title}} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
<form>

  <label for="artist"> Artist </label>
  <input
  [(ngModel)]="createData.artist"
  type="text"
  name="artist"
  required>

  <label for="album"> Album </label>
  <input
  [(ngModel)]="createData.album"
  type="text"
  name="album"
  required>

  <label for="cover"> Cover Art </label>
  <input
  [(ngModel)]="createData.cover"
  type="text"
  name="cover"
  required>

  <label for="price"> Price </label>
  <input
  [(ngModel)]="createData.price"
  type="text"
  name="price"
  required>
  
  <label for="desc"> Description </label>
  <input
  [(ngModel)]="createData.desc"
  type="text"
  name="desc"
  required>

  <button *ngIf="!createData.id"
  type="button" (click)="onCreate()">
   Submit </button>

  <button *ngIf="createData.id"
  type="button" (click)="onEdit(createData.id)">
   Update </button>
</form>

</div>