<div class="modal-header">
  <h4 class="modal-title"> {{title}} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
<form>

  <label for="name">Name: </label>
  <input class="full"
  [(ngModel)]="profileData.user.name"
  type="text"
  name="name"
  required><br>

  <label for="email">Email: </label>
  <input class="full"
  [(ngModel)]="profileData.user.email"
  type="email"
  name="email"
  required><br>

  <label for="image">Image URL: </label>
  <input class="full"
  [(ngModel)]="profileData.user.image"
  type="text"
  name="image"
  required><br>
  
  <br>
  <div class="btns">
    <button type="button" (click)="editProfile(profileData.id)" id="btn"> Update </button>    
    <br>
    <button type="button" (click)="deleteToggle()" id="btn"> Delete Profile? </button>
  </div>

  <div class="hidden" id="deleter">
    <br>
    Are you sure? <br><br>
    <button (click)="deleteProfile()" >Yes</button>
  </div>

</form>
</div>