<img src="../../assets/Vinyl-Record.jpg" width="100%"/>
<h1>ABOUT US</h1><br>


<mat-tab-group id="tab-size">
    <mat-tab label="About Cliff"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum possimus quae quia facere harum modi est, consequatur quaerat impedit quis culpa molestiae facilis fugiat a, neque quam, saepe doloribus? Deleniti iusto, animi alias velit aliquam exercitationem, 
      voluptate temporibus tempore ab corrupti ut modi optio expedita nemo pariatur recusandae molestias sed. </mat-tab>
    <mat-tab label="About Callie"> Callie </mat-tab>
    <mat-tab label="About Arris"> Arris </mat-tab>
  </mat-tab-group>
<br>
<p>Vinyl Revival is a place where vinyl lovers and people who are passionate about music can get together to hang out, 
  discover and buy new vinyl records direct from the artists themselves! The only music you will find are records currently available on vinyl.

    If it’s not on vinyl, it’s not in our store!</p>
<p> Vinyl Revival is a place where like-minded people can join discussions that are always about music and never about anything else.  
  We’re creating a space where artists can get exposed to the people who appreciate the music they’re creating, 
  and where music lovers can discover more sounds to enjoy and add to their collections. 
  What better way to help promote and support the spread of beautiful music?

</p>

<!-- Contact Section-->
<section id="contact" name="contact">
    <div class="container">
      <h2 class="text-center text-uppercase display-4">Contact</h2>
      <div class="row">
        <form action="https://formspree.io/arrhenri@gmail.com" method="POST">
          <div class="control-group">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Your Name" id="name" required
                data-validation-required-message="Please enter your name" name="name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="Your Email" id="email" required
                data-validation-required-message="Please enter your email" name="_replyto">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <textarea class="form-control" rows="7" placeholder="Your Message" id="message" required
                data-validation-required-message="Please leave a message" name="message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="text-center">
            <div id="success"></div>
            <button type="submit" class="btn btn-lg btn-black">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
