<div><img src="../../assets/Vinyl-Record.jpg" width="100%"/>
<h1>ABOUT US</h1>
</div>
<br>

<section>
<p>Vinyl Revival is a place where vinyl lovers and people who are passionate about music can get together to hang out, 
  discover and buy new vinyl records direct from the artists themselves! The only music you will find are records currently available on vinyl.

    If it’s not on vinyl, it’s not in our store!</p>
    <br> 
<p> Vinyl Revival is a place where like-minded people can join discussions that are always about music and never about anything else.  
  We’re creating a space where artists can get exposed to the people who appreciate the music they’re creating, 
  and where music lovers can discover more sounds to enjoy and add to their collections. 
  What better way to help promote and support the spread of beautiful music?

</p>
</section>
<br>
