p {
    margin: 0;
    padding: 0;
    text-align: center;
    left: 25%;
    width: 50%;
    position: relative;
}

h1{
    margin: 0;
    position: relative;
    margin-top: -5rem;
    text-align: center;
    z-index: 50;
    font-size: 5rem;
    color: white;
}

img{
    max-height: 35rem;
}