<div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
    <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <ul>
        <li *ngIf="this.auth.is_loggedin && auth.is_admin"><a routerLink="/admin/products" routerLinkActive="active">Admin Products</a></li>
        <li *ngIf="this.auth.is_loggedin && auth.is_admin"><a routerLink="/admin/users" routerLinkActive="active">Admin Users</a></li>
        <li *ngIf="this.auth.is_loggedin && !auth.is_admin"><a routerLink="/user-profile">Account</a></li>

        <li *ngIf="!this.auth.is_loggedin"><button (click)="openLogin()">Login</button></li>
        <li *ngIf="!this.auth.is_loggedin"><button (click)="openSignup()">Sign Up</button></li>
        <li *ngIf="this.auth.is_loggedin"><button (click)="onLogout()">Logout</button></li>
    </ul>
</div>
