<div class="modal-header">
  <h4 class="modal-title"> {{ title | uppercase }} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form class="modal-body">
    <label for="email"> Email: </label>
    <input [(ngModel)]="loginUserData.email" type="email" name="email" required>

    <label for="password"> Password: </label>
    <input [(ngModel)]="loginUserData.password" type="password" name="password" required>
<br>
    <button type="button" (click)="onLogin()" id="btn">Submit</button>
  </form>
</div>

