<div class="modal-header">
  <h4 class="modal-title pull left"> Delete this product? </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
<form>

  <div class="label" > Artist: </div>
  <div class="full">{{createData.artist}}</div>
  <br>

  <div class="label"> Album: </div>
  <div class="full">{{createData.album}}</div>
  <br>

  <div class="label"> Genre: </div>
  <div class="small">{{createData.genre}}</div>
  <br>

  <div class="label"> Cover Art: </div>
  <img [src]="createData.cover">
  <br><br>

  <div class="label"> Price: </div>
  <div class="full">${{createData.price}}</div>
  <br>

  <label for="desc"> Description: </label>
  <div 
  cols="43"
  rows="8">{{createData.desc}}</div>
  <br>

  

    <h5>Are you sure you want to delete this product?</h5>

  <button class="btns"
  type="button" (click)="onDelete(createData.id)">
   Delete </button>

  

</form>

</div>