<mat-sidenav-container>
  <!-- USER Comments  -->
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" position="end" id="side-nav">
    <app-comments *ngIf="commentsArr" [commentsArr]="commentsArr" (refreshComments)="getCommentsForAlbum($event)"></app-comments>
  </mat-sidenav>

  
  <mat-sidenav-content *ngIf="product">
    <mat-grid-list cols="10" gutterSize="15px">
      <mat-grid-tile rowspan="5" colspan="4" >
      <img [src]="product.cover" class="product-cover"/>
      <div id="pricetag">${{ product.price }}</div>
      </mat-grid-tile>
      <mat-grid-tile id="text-layout" colspan="4" rowspan="2">
        {{product.artist | uppercase }}
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2">
        <div id="like">
            <mat-icon (click)="fav()">favorite</mat-icon> 
            <div id="fav">{{ favCnt }}</div>
        </div>
      </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" id="text-desc">
      {{ product.album }}<br>
      {{product.desc}}
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <button mat-button (click)="sidenav.open()" id="cmt-btn">View Comments</button>    
    </mat-grid-tile>
    <mat-grid-tile colspan="10" style="background-color:rgb(38, 49, 49); color: white;"><h3>Suggested Vinyls</h3></mat-grid-tile>
    <mat-grid-tile colspan="10" rowspan="3" style="font-family:'Poppins'">
<div *ngFor="let item of suggestions" style="width: 75%; margin-left: 4rem;" id="box" >
      <img [src]="item.cover"  (click)="onSuggestedClick(item.id)" style="width: 75%" />
      <div class="caption fade-caption" (click)="onSuggestedClick(item.id)">
         <mat-icon>favorite</mat-icon>: {{item.favCount}}<br>
      {{ item.artist | uppercase }}<br>
      {{ item.album }}

      </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</mat-sidenav-content>
</mat-sidenav-container>