.grid-container {
    display: grid;
    grid-column-gap: 5px;
 }
 
 .vinyl {
    grid-column: 2fr;
 }
 
 #text-layout{
    grid-column: 3;
 }
 
 #side-nav{
    background: white;
    width: 25vw;

.prod-cover{
    width: 30vw;
}

 #ep-size{
 height: 10%;
 overflow: scroll;
 }
 
 .mat-expansion-indicator {
    position: absolute;
    left: 15px;
  }