<div class="modal-header">
    <h4>COMMENTS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
    <div *ngIf="showComments">
      <div *ngFor="let c of showComments" class="eachComment">
        <div id="comment_{{c.id}}" class="com">
          <div>{{c.comment}}</div>
          <mat-icon class="trashcan" (click)="onDelete(c.id, c.productid)">deleteforever</mat-icon>
      </div>
    </div>
    <div *ngIf="showComments.length === 0" class="noComments">
      No Comments to show for this album
    </div>
</div>