
<mat-grid-list cols="3" rowHeight="3:2" id="cover">
    <mat-grid-tile *ngFor="let item of products |  paginate: { itemsPerPage: 9, currentPage: p }" gutterSize="5px">
      <div id="fav">{{item.favs.length}}</div>
    <div class="disco"><a routerLink="/record/{{item.id}}" routerLinkActive="active"><img src="{{ item.cover }}" width="65%" id="img-effects" class="disc-cover"/></a>
    <div class="disco--vinyl"><img class="rotating" src="../../assets/vinyl.png" height="100%"/></div></div>
    <div id="text-lay"> {{item.artist | uppercase }} - ${{ item.price }} <br>
     {{ item.album }}<br>
     {{item.genre}}<br>
     <br>
     <a routerLink="/record/{{item.id}}" routerLinkActive="active"><button mat-raised-button>View Vinyl</button></a>
    </div>
    </mat-grid-tile>

  </mat-grid-list>
  <div id="page-btn"><pagination-controls (pageChange)="p=$event"></pagination-controls></div>