body{
  height: 100%;
  width: 100%;
}

#cover{
    list-style-type: none;
    margin: 0;
    margin-top: 6rem;
}

#img-effects:hover{
    box-shadow: 2px 5px 5px;
}

#page-btn{
   float: right;
   margin-top: 10%;
}

.mat-raised-button{
  background-color: rgb(17, 66, 97);
  color: white;
}

div#text-lay {
  width: 30%;
    margin-left: 17.5rem;
    z-index: 3;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#fav{
  margin-top: -6.5rem;
  margin-left: -11.8rem;
  text-align: center;
  z-index: 4;
  position: absolute;
  color: white;
  border: 3px solid #660000;
  background-color: #660000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}





/* COVER & DISC STYLE */
.disco {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 206px;
    height: 200px; 
  }

  .disco::before {
    border-radius: 50%;
    left: 0;
    bottom: 0px;
    height: 12px;
    width: 95%;
    transform: perspective(800px) rotateX(70deg) scaleX(1.2) scaleY(0.9);
    transition: width 1s ease;
    z-index: -20;
  }

.disc-cover{
    position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        margin-left: -4rem;
        border-radius: 2px;
        overflow: hidden;
        z-index: 10;

}

.disco--cover::after,
.disco::before {
  content: "";
  position: absolute;
}



.disco--vinyl{
        position: absolute;
        width: 95%;
        height: 99%;
        margin-left: -4.11rem;
  transform: translate3d(5px, 0px, 0px) rotateZ(0deg);
  transition: transform 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
      }

      .disco--vinyl::after {
        background: -webkit-radial-gradient(center, rgba(255,255,255,0) 30%, rgba(214,214,214,0.2) 100%), -webkit-linear-gradient(65deg, rgba(255,255,255,0) 50%, rgba(255,190,190,0.5) 100%);
        box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3), inset -1px 1px 2px rgba(135,126,125,0.2), inset 0px 0px 2px 30px rgba(55,55,55,0.1), inset 0px 0px 2px 19px rgba(25,25,25,0.1), inset 0px 0px 1px 40px rgba(25,25,25,0.2);
        content:"";
        border-radius: 100%;
        position: absolute;
        top: 5px;
        left: 4px;
        width: 190px;
        height: 190px;
      }

      /* DISC MOVE */
      .disco:hover > .disco--vinyl {
        transform: translate3d(85px, 0px, 0px) rotateZ(40deg);
      }