<main *ngIf="profile">
  <section class="left">
    <img [src]="profile.user.image" id="avatar" height="60%"/>
    
  </section>
  
  <section>
      <h1 class="title"><span>{{ profile.user.name }}</span></h1><br>
      <div class="color2"></div>
    <div class="text">
        <h2>USER PROFILE</h2>
        <hr style="color:rgb(38, 49, 49);">
    Name: {{profile.user.name}}<br>
    Email: {{profile.user.email}}<br>
    
    <button class="edit" (click)="openEdit()"><span>Edit Profile</span></button>
    <br>
      </div>
<mat-grid-list cols="3" rowHeight="4:2">
  <h4>COLLECTION</h4>
  <mat-grid-tile *ngFor="let fav of profile.favs">
      <a routerLink="/record/{{fav.id}}" routerLinkActive="active">
        <img [src]="fav.cover" width="90%" id="cover"/>
      </a>
  </mat-grid-tile>
</mat-grid-list>
    
</section>





</main>